<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "store/logo_dot.png", :alt => "ID.me Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:0123456789">012-345-6789</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:fake01@id.me">demo@id.me</a>
      </div>
      <br>
      <div class="address">
        ID.me Demo Store 01
        <br>
        Virginia, USA
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/products">Contact</a></li>
        <li><a href="/products">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
        This website is <strong>NOT</strong> a real store, 
        it's a demo application for 
        <a href="http://id.me" target="_blank">ID.me</a>. As such, some features will be missing from the store. 
        Please feel free to play around, but don't submit 
        any information you would not consider public!
      </p>
    </div>
    
  </div>
</footer>